/* Geral */
* {
    padding: 0;
    margin: 0;
    font-family: Georgia;
    cursor: pointer;
  }
  
  ul {
    cursor: pointer;
    list-style: none;
    
  }
  
  a {
    text-decoration: none;
    color: #444;
    transition: 0.4s;
    cursor: pointer;
  }
  
  a:hover {
    color: #37a1f7;
  }
  

  #navbar {
    padding: 1.5rem 2.5rem;
    border-bottom: 2px solid #ddd;
  }
  
  #navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1650px;
    margin: 0 auto;
  }
  
  #nav-links {
    display: flex;
    gap: 2rem;
  }

  

  .container {
    display: flex;
    padding: 2rem 2.5rem;
    gap: 3rem;
    max-width: 1650px;
    margin: 0 auto;
  }

  #post-container{
    flex: 3 1 0;
  }

  .post{
    margin-bottom: 2.5rem;
  }
  
  .post img{
    width: 100%;
    margin-bottom: 1rem;

  }
  #tags{
    cursor: pointer;
  }

 
  .description,
  .author{
    margin-bottom: 1rem;
    justify-content: space-between
  }

 
  .title a {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 1rem;
}

.date {
    font-size: 1.5rem;
}

  .author{
    color: #333;
    font-weight: bold;
  }
  

  #sidebar{
    flex: 1 1 0;
  }
  .date{
    font-size: 1.5rem;
  }

  #search-bar,
  #categories,
  #tags{
    padding: 1.4rem;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
  }
  

  #search-bar h4,
  #categories h4,
  #tags h4{
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
  }

  #search-bar form{
    display: flex;
  }

  #search-bar input {
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
  }
  
  #search-bar input[type="submit"] {
    cursor: pointer;
    background-color: #37a1f7;
    color: black;
    border: none;
    
  }
  #tags{
    cursor: pointer;
  }
  #categories li{
    margin-bottom: 1rem;
  }
  #tags{
    cursor: pointer;
  }
  #tags-container{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  #tags-container a {
    background-color: #ddd;
    padding: 0.5rem 0.7rem;
    border-radius: 0.3rem;
  }
  #post-container .tag-link {
    cursor: pointer;
}

  #footer{
    border-top: 2px solid #ddd;
    padding: 3rem;
    text-align: center;
  }

  #footer h2,
  #footer p{
    margin-bottom: 1rem;;
  }

  

  @media(max-width: 450px){
    .container{
      flex-wrap: wrap;
    }
    
  }